.title {
    color: #224f61;
    font-family: Almarai;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 64px;
}

.underline{
    height: 1px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #b45b35;
}

.btn {
    color: #8c8c8c;
    font-family: Almarai;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    border: 1px solid #b45b35;
}

.btn:hover {
    background-color: #b45b35;
    color: black;
}